/* Thorium Website Cascading Style Sheet */
:root,
/* Set colours */
:root.light {
  --bgcolor: #ffffff;
  --fontcolor: #000000;
  --linkcolor: #0000ee;
  --visitedcolor: #551a8b;
  --preformatted: #000000;
  --accent-bg: #aecbfa;
  --border: #000000;
  --construction: #e51c23;
  --code: #000000;
  --shadow: #ffffff;
  --imgshadow: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #24292f;
    --fontcolor: #ffffff;
    --linkcolor: #ae5ee0;
    --visitedcolor: #5bf5bf;
    --preformatted: #ffffff;
    --accent-bg: #2b2b2b;
    --border: #ffffff;
    --construction: #fbbc04;
    --code: #fbbc04;
    --shadow: #000000;
    --imgshadow: #ffffff;
  }
}
:root.dark {
  --bgcolor: #24292f;
  --fontcolor: #ffffff;
  --linkcolor: #ae5ee0;
  --visitedcolor: #5bf5bf;
  --preformatted: #ffffff;
  --accent-bg: #2b2b2b;
  --border: #ffffff;
  --construction: #fbbc04;
  --code: #fbbc04;
  --shadow: #000000;
  --imgshadow: #ffffff;
}
/* Scrolling settings */
html {
  overflow-x: scroll;
  overflow-y: scroll;
}
/* General body settings */
body {
  margin: 1em auto;
  max-width: 36em;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  color: var(--fontcolor);
  background-color: var(--bgcolor);
}
/* Image autoconfig */
img {
  max-width: auto;
  height: auto;
}
/* Image effects */
img.spin {
  transition: all .6s;
}
img.shadow {
  filter: drop-shadow(1px 1px 2px var(--imgshadow));
}
img.thor90 {
  border: 1px solid var(--border);
  filter: drop-shadow(1px 1px 1px var(--imgshadow));
}
img.thoros {
  border: 1px solid var(--border);
  filter: drop-shadow(1px 1px 1px var(--imgshadow));
}
.thoros:hover {
  animation: jig 0.5s;
  animation-iteration-count: infinite;
}
img.fly {
  border: 1px solid var(--border);
  filter: drop-shadow(1px 1px 1px var(--imgshadow));
}
.fly:hover {
  animation: fly 1.0s;
  animation-iteration-count: infinite;
}
.thor90:hover {
  animation: jig 0.2s;
  animation-iteration-count: infinite;
}
img.bubbles:hover {
  padding-right: 12px;
  animation: shake 4.0s;
  animation-iteration-count: infinite;
}
/* Animations */
@keyframes shake {
  0% { transform: translate(3px, 2px) rotate(0deg); }
  10% { transform: translate(-3px, -2px) rotate(-3deg); }
  20% { transform: translate(6px, 4px) rotate(1deg); }
  30% { transform: translate(-6px, -4px) rotate(0deg); }
  40% { transform: translate(-6px, 6px) rotate(-4deg); }
  50% { transform: translate(8px, -3px) rotate(-2deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(3px, 6px) rotate(-1deg); }
  80% { transform: translate(3px, 4px) rotate(-4deg); }
  90% { transform: translate(3px, -5px) rotate(6deg); }
  100% { transform: translate(3px, 2px) rotate(0deg); }
}
@keyframes jig {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(-1deg); }
  40% { transform: rotate(-2deg); }
  60% { transform: rotate(1deg); }
  80% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes fly {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(2px, -2px) rotate(-1deg); }
  20% { transform: translate(4px, -4px) rotate(-2deg); }
  30% { transform: translate(6px, -6px) rotate(1deg); }
  40% { transform: translate(8px, -8px) rotate(2deg); }
  50% { transform: translate(8px, -8px) rotate(-1deg); }
  60% { transform: translate(6px, -6px) rotate(-2deg); }
  70% { transform: translate(4px, -4px) rotate(1deg); }
  80% { transform: translate(3px, -3px) rotate(2deg); }
  90% { transform: translate(2px, -2px) rotate(-1deg); }
  100% { transform: translate(1px, -1px) rotate(0deg); }
}
/* Move title slightly */
span.title {
  margin-left: -0.1em;
}
/* Adjust top horiz separator */
hr.line {
  width: 105.3%;
  margin-left: -1.0em;
  border: 1px solid var(--fontcolor);
}
/* Style headings */
h1 {
  text-shadow: 1px 1px 1px var(--shadow);
}
h2 {
  text-shadow: 1px 1px 1px var(--shadow);
}
b {
  text-shadow: 1px 1px 1px var(--shadow);
}
/* Put box around intro/description */
p.intro {
  box-shadow: 1px 1px 2px 0px var(--border);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--border);
  border-radius: 3px;
  font-weight: 600;
  text-shadow: 1px 1px 1px var(--shadow);
}
/* Set link colours */
a:link{
  color: var(--linkcolor);
}
a:visited,
a:active {
  color: var(--visitedcolor);
}
/* Set under construction text colours */
.construction {
  color: var(--construction);
}
code {
  color: var(--code);
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px var(--shadow);
}
/* Adjust thorium_bubbles.svg */
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* Adjust flying_browser.png */
.d-flex2 {
  display: flex;
  float: right;
}
/* Codeblock Styles */
pre {
  padding: 1rem 1.5rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-bottom: 2px solid var(--border);
  border-right: 2px solid var(--border);
  border-radius: 5px;
  font-weight: 600;
  text-shadow: 1px 1px 1px var(--shadow);
}
/* Rounded Dark/Light Mode Button */
button {
  box-shadow: 1px 1px 1px 0px var(--border);
  border: 1px solid var(--border);
  border-radius: 5px;
  float: bottom;
}
/* Add WebGL Canvas Element */
canvas.glcube {
  border: 1px solid var(--border);
  max-width: 100%;
  filter: drop-shadow(1px 1px 1px var(--imgshadow));
}
canvas.shadowcubes {
  border: 1px solid var(--border);
  max-width: 100%;
  filter: drop-shadow(1px 1px 1px var(--imgshadow));
}
/* No Auto-Play */
video {
  display: none;
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'),
       url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
