/*@font-face {
    font-family: 'heebothin';
    src: url('{asset[font-thin].getFileUrl}') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heebolight';
    src: url('{asset[font-light].getFileUrl}') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

.noSelect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    color: #fff;
    font-family: heebolight, sans-serif;
    
    > .ui {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        height: auto;
        
        .button {
            @height: 48px;
            position: relative;
            display: inline-block;
            background-color: rgba(0, 0, 0, .5);
            cursor: pointer;
            text-transform: uppercase;
            font-size: 32px;
            line-height: @height;
            letter-spacing: 0.1em;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            .noSelect;
            
            &:before {
                content: '\00a0';
                position: absolute;
                top: -1px;
                left: -30px;
                height: @height + 2px;
                width: 30px;
                background-image: url("{asset[img-edges].getFileUrl}");
                background-repeat: no-repeat;
            }
            &:after {
                content: '\00a0';
                position: absolute;
                top: -1px;
                right: -30px;
                height: @height + 2px;
                width: 30px;
                background-image: url("{asset[img-edges].getFileUrl}");
                background-repeat: no-repeat;
                background-position: -30px 0;
            }
            &:hover {
                color: #f50;
            }
        }
        
        > .overlay {
            opacity: 0.0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: auto;
            height: auto;
            z-index: 1;
            transition: opacity 200ms, visibility 200ms;
            
            &.active {
                opacity: 1.0;
                visibility: visible;
            }
            &.final {
                z-index: 0;
                
                > .cinematic {
                    display: none;
                }
            }
            > .cinematic {
                position: absolute;
                left: 0;
                right: 0;
                width: auto;
                height: 10%;
                min-height: 82px;
                background-color: #000;
                
                &.top {
                    top: 0;
                }
                &.bottom {
                    bottom: 0;
                }
            }
            > .fade {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: auto;
                height: auto;
                background-color: #000;
                opacity: 0;
                visibility: hidden;
                transition: opacity 1000ms, visibility 1000ms;
                
                &.active {
                    opacity: 1;
                    visibility: visible;
                }
            }
            > .menu {
                position: absolute;
                top: ~"calc(50% - 180px)";
                left: ~"calc(50% - 384px)";
                width: 768px;
                display: none;
                
                &.active {
                    display: block;
                }
                &.final {
                    &.logo {
                        > .logo {
                            opacity: 1.0;
                        }
                    }
                    > .logo {
                        opacity: 0;
                        transition: opacity 5000ms;
                    }
                    > .quality {
                        display: none;
                    }
                    > .play {
                        display: none;
                    }
                }
                > .logo {
                    position: relative;
                    height: 102px;
                    cursor: default;
                    
                    > div {
                        text-transform: uppercase;
                        font-weight: 100;
                        font-family: heebothin, sans-serif;
                        letter-spacing: 0.1em;
                    }
                    > .after {
                        position: absolute;
                        right: ~"calc(55% + 1px)";
                        bottom: 56px;
                        font-size: 64px;
                        line-height: 0.74em;
                    }
                    > .the {
                        position: absolute;
                        right: ~"calc(55% + 4px)";
                        bottom: 0;
                        font-size: 48px;
                        color: rgba(255, 255, 255, .5);
                        line-height: 36px;
                    }
                    > .flood {
                        position: absolute;
                        left: ~"calc(45% + 4px)";
                        bottom: 0;
                        font-size: 96px;
                        line-height: 0.74em;
                    }
                }
                > .quality {
                    margin-top: 96px;
                    .noSelect;
                    
                    > .title {
                        text-align: center;
                        font-size: 32px;
                        text-transform: uppercase;
                        cursor: default;
                    }
                    > .options {
                        margin-top: 8px;
                        white-space: nowrap;
                        text-align: center;
                        font-size: 0;
                        
                        > div {
                            display: inline-block;
                            padding: 4px 16px;
                            margin: 0 8px;
                            text-transform: uppercase;
                            letter-spacing: 0.1em;
                            font-size: 24px;
                            background-color: rgba(0, 0, 0, .5);
                            color: #999;
                            cursor: pointer;
                            
                            &:hover {
                                background-color: #000;
                                color: #fff;
                            }
                            &.active {
                                background-color: #000;
                                color: #f50;
                            }
                        }
                    }
                }
                > .play {
                    width: 120px;
                    margin: 48px ~"calc(50% - 60px)" 0;
                    text-align: center;
                }
            }
            
            > .panel {
                @borderColor: #999;
                display: none;
                position: absolute;
                width: 512px;
                left: ~"calc(50% - 256px)";
                background-color: rgba(0, 0, 0, .7);
                border-left: 1px solid @borderColor;
                border-bottom: 1px solid @borderColor;
                border-right: 1px solid @borderColor;
                
                &.active {
                    display: block;
                }
                > .header {
                    height: 16px;
                    cursor: default;
                    .noSelect;
                    
                    > span {
                        float: left;
                    }
                    > .borderLeft {
                        float: left;
                        width: 180px;
                        height: 1px;
                        background-color: @borderColor;
                    }
                    > .left {
                        float: left;
                        width: 0;
                        height: 0;
                        border-left: 16px solid transparent;
                        border-bottom: 16px solid rgba(0, 0, 0, .7);
                        margin-top: -16px;
                    }
                    > .middle {
                        float: left;
                        width: 120px;
                        height: 16px;
                        line-height: 34px;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 16px;
                        margin: -16px 16px 0 16px;
                        background-color: rgba(0, 0, 0, .7);
                    }
                    > .right {
                        float: right;
                        width: 0;
                        height: 0;
                        margin-top: -16px;
                        border-right: 16px solid transparent;
                        border-bottom: 16px solid rgba(0, 0, 0, .7);
                        margin-top: -16px;
                    }
                    > .borderRight {
                        float: right;
                        width: 180px;
                        height: 1px;
                        background-color: @borderColor;
                    }
                }
            }
            > .settings {
                display: none;
                top: ~"calc(50% - 224px)";
                z-index: 2;
                .noSelect;
                
                > .rows {
                    padding: 16px 32px;
                    
                    > div {
                        margin-bottom: 6px;
                        padding-bottom: 6px;
                        border-bottom: 1px dotted rgba(255, 255, 255, .1);
                        height: 24px;
                        
                        &.hidden {
                            > .options {
                                display: none;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            > .title {
                                color: #fff;
                            }
                        }
                        > .title {
                            float: left;
                            font-size: 16px;
                            text-transform: uppercase;
                            line-height: 24px;
                            color: #ccc;
                            cursor: default;
                        }
                        > .options {
                            float: right;
                            
                            > div {
                                float: left;
                                color: #999;
                                cursor: pointer;
                                padding: 0 8px;
                                line-height: 24px;
                                font-size: 14px;
                                text-transform: uppercase;
                                
                                &:hover {
                                    color: #fff;
                                }
                                &.active {
                                    color: #fff;
                                    background-color: #000;
                                }
                            }
                        }
                    }
                }
                > .button.close {
                    width: 100px;
                    text-align: center;
                    margin: 0 ~"calc(50% - 50px)" 16px;
                }
            }
            
            > .info {
                width: 768px;
                left: ~"calc(50% - 384px)";
                top: ~"calc(50% - 355px)";
                z-index: 2;
                
                > .header {
                    > .borderLeft {
                        width: 308px;
                    }
                    > .borderRight {
                        width: 308px;
                    }
                }
                > .content {
                    padding: 16px 32px;
                    
                    a {
                        color: #f50;
                        font-weight: bold;
                        
                        &:hover {
                            color: #fff;
                        }
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        
                        > li {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
                > .button.close {
                    width: 140px;
                    text-align: center;
                    margin: 0 ~"calc(50% - 70px)" 16px;
                }
            }
        }
        
        > .smallButton {
            position: absolute;
            top: 16px;
            line-height: 32px;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, .3);
            cursor: pointer;
            z-index: 1;
            .noSelect;
            
            &:hover {
                background-color: #000;
            }
            > .icon {
                width: 32px;
                height: 32px;
                background-image: url("{asset[img-buttons].getFileUrl}");
                background-repeat: no-repeat;
            }
            &.info {
                display: none;
                left: 16px;
                padding-right: 8px;
                
                > .icon {
                    float: left;
                    margin-right: 8px;
                    background-position: -32px 0;
                }
            }
            &.settings {
                display: none;
                right: 16px;
                padding-left: 8px;
                
                > .icon {
                    float: right;
                    margin-left: 8px;
                }
            }
        }
        
        > .fpsCounter {
            position: absolute;
            top: 56px;
            right: 16px;
            line-height: 32px;
            padding: 0 8px;
            font-family: "Lucida Console", Monaco, monospace;
            font-size: 16px;
            background-color: rgba(0, 0, 0, .3);
            z-index: 1;
            display: none;
            
            &.active {
                display: block;
            }
        }
        
        > .header {
            position: absolute;
            width: 300px;
            height: 50px;
            top: 16px;
            left: ~"calc(50% - 150px)";
            cursor: default;

            &.hidden {
                display: none;
            }
            > div {
                text-transform: uppercase;
                font-weight: 100;
                font-family: heebothin, sans-serif;
                letter-spacing: 0.1em;
            }
            > .after {
                position: absolute;
                right: ~"calc(59% + 1px)";
                bottom: 28px;
                font-size: 32px;
                line-height: 0.74em;
            }
            > .the {
                position: absolute;
                right: ~"calc(59% + 4px)";
                bottom: 0;
                font-size: 24px;
                color: rgba(255, 255, 255, .5);
                line-height: 18px;
            }
            > .flood {
                position: absolute;
                left: ~"calc(41% + 4px)";
                bottom: 0;
                font-size: 48px;
                line-height: 0.74em;
            }
        }
        
        > .footer {
            position: absolute;
            bottom: 16px;
            left: 16px;
            right: 16px;
            width: auto;
            z-index: 2;
            .noSelect;
            
            > .playcanvas {
                position: absolute;
                bottom: 0;
                left: 0px;
/*                 left: 178px + 16px; */
                width: 257px;
                height: 51px;
                background-image: url("{asset[img-powered].getFileUrl}");
                background-repeat: no-repeat;
            }
            > .mozilla {
                display: none;
                
                position: absolute;
                bottom: 0;
                left: 0px;
                width: 177.9px;
                height: 51px;
                background-image: url("{asset[img-mozilla].getFileUrl}");
                background-size: 177.9px 51px;
            }
        }
    }
}

@media all and (max-height: 768px) {
    body {
        > .ui {
            > .overlay {
                > .cinematic {
                    display: none;
                }
            }
        }
    }
}