/* Prefer border-box */
* {
    box-sizing: border-box;
}
html {
  font-family: "Tahoma", sans-serif;
  overflow-x: scroll;
}
/* General body settings */
body {
  margin: 0.5em auto;
  max-width: 80%;
  font-family: "Tahoma", sans-serif;
  padding: 1rem;
  color: #000;
  background-color: #d1d1d1;
}
img {
  width: 400px;
  height: auto;
}
table {
  width: 100%;
  border: 1px solid #000;
}
th {
  border: 1px solid #000;
  font-size: 1em;
}
td {
  padding: 8px;
  text-align: center;
  font-size: 0.90em;
}
td, tr {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
code {
  font-family: monospace;
  font-weight: bold;
}
#totop {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 0.50em;
  filter: drop-shadow(1px 1px 2px #222);
}
#totop a:link {
  font-size: 2.5em;
  text-decoration: none;
  color: #551a8b;
}
#totop a:visited {
  font-size: 2.5em;
  text-decoration: none;
  color: #551a8b;
}
#totop a:hover {
  font-size: 2.5em;
  text-decoration: none;
  color: #0000ee;
}
#totop a:active {
  font-size: 2.5em;
  text-decoration: none;
  color: #134d9d;
}
/* Tahoma-regular - latin */
@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Tahoma.eot'); /* IE9 Compat Modes */
  src: local('Tahoma'),
       url('../fonts/Tahoma.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Tahoma.ttf') format('truetype'), /* Safari, Android, iOS */
}
