      html,
      body {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #000;
        color: white;
        font-family: "Roboto", sans-serif;
      }
      #canvas-container {
        position: relative;
      }
      canvas {
        position: absolute;
        left: 0;
        top: 0;
      }
      .controls {
        padding: 10px;
        background: rgba(0, 0, 0, 0.4);
        text-shadow: 0 0 2px black;
        position: absolute;
        top: 0;
        left: 0;
      }
      .controls,
      .fork-me {
        z-index: 1;
      }
      .controls th {
        text-align: left;
      }
      .controls th,
      .controls td {
        padding: 10px;
      }
      .controls > button,
      .controls > label {
        margin: 10px;
      }
      button {
        border: 1px solid gray;
        background: rgba(128, 128, 128, 0.4);
        color: inherit;
        display: flex;
        padding: 5px 10px;
      }
      button svg {
        margin-right: 5px;
        height: 1em;
      }
      button svg path {
        fill: currentColor;
      }
