* {
  box-sizing: border-box;
}
html {
  font-family: Roboto, sans-serif;
}
body {
  margin: auto;
  max-width: 50%;
  font-family: Roboto, sans-serif;
  padding: 1rem;
  color: #fff;
  background-color: rgba(52, 52, 52, 96%);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 24px;
}
p {
  text-align: center;
  align-content: center;
}
h1,
h2 {
  text-align: center;
}
a:link {
  color: #5bf5bf;
}
a:visited,
a:active {
  color: #ae5ee0;
}
