*,:after,:before {box-sizing: border-box}

body,html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #f2f2f2;
  color: #2d3737;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%
}

#container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, #555555 5%,#000000 55%)
  /*background: radial-gradient(ellipse at center, #FE5F55bb 0%,#FE5F55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
