		* { margin: 0; padding: 0; -webkit-user-select: none; -moz-user-select: none}
		body{ overflow: hidden; font-family: tahoma, sans-serif; font-size: 12px; background-color: #202020;}
		#container{ position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
		#intro{ position: absolute; left: 0; top: 0; padding: 40px; pointer-events: none; transition: opacity 250ms ease-out; color: white;}
		#intro h1, #intro h2, #intro ul, #closeBtn, #minIntro{ font-family: Raleway, sans-serif; color: white; text-shadow: 0 -1px 0 black;}
		#intro h1{ font-size: 45.5px; text-transform: uppercase; font-weight: bold; line-height: 1em;}
		#intro h2{ font-size: 11px; text-transform: uppercase; font-weight: normal; margin-bottom: 1em;}
		#intro ul{ margin: 20px 20px 0 20px;}
		#intro li{ font-weight: normal; font-size: 11px;}
		#intro ul.controls{ margin: 10px 0 10px 40px; list-style-type: circle;}
		#closeBtn{ font-size: 14px; border: 1px solid white; border-radius: 20px; display: inline; padding: 10px; pointer-events: auto; cursor: pointer; }
		#closeBtn:hover{ color: red;}
		.hidden{ opacity: 0 }
		#sizes{ margin-bottom: 30px; margin-left: 10px;}
		#intro a{ pointer-events: auto;}
		#closeBtn .hidden{ pointer-events: none; }
		#minIntro{ position: absolute; left: 10px; bottom: 10px; transition: opacity 250ms ease-out; }
		#minIntro h1{ font-size: 24px; font-weight: bold; text-transform: uppercase;}
		.hidden #closeBtn, .hidden a, #intro.hidden a{ pointer-events: none;}
		#size-options span:not(:last-child):after{ content: ', '; }
		a{ color: inherit;}
		a:hover{ color: #dedede;}
		#error{ position: absolute; left: 50%; top: 50%; text-align: center; transform: translate3d( -50%, -50%, 0 ); color: white; font-size: 14px; line-height: 1.4em; border: 1px solid white; padding:40px; border-radius: 20px; transition: opacity 250ms ease-out; pointer-events: none;}
		#loaded{ display: none }
		#loading{ padding: 20px 0; text-align: center }
		.twitter-share{ display: inline-block; margin-right: 30px; }
		.share{ margin-bottom: 1em; pointer-events: auto }
		.min-share{ display: block; margin-top: 5px; }
		@media (max-width: 700px) {
			body{ font-size: 14px;}
			#intro h1{ font-size: 24px; }
			#intro h2{ font-size: 16px;}
			#instructions{ display: none;}
			#sizes{ margin: 10px 0 40px 0;}
			#minIntro{ text-align: center; width: 100%; }
		}
