body {
	margin: 0;
	font-family: Monospace;
	font-size: 12px;
	line-height: 20px;
	overscroll-behavior: none;
	background-color: #24292f;
	color: #ddd;
}

a {
	color: #9400D3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	font-family: inherit;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	background-color: #828282;
	color: #ffffff;
}
button:hover {
  background-color: #999999;
}
button:active {
  box-shadow: 1px 1px 1px 0px #222222 inset;
}
#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
