.ani-floating {
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2%);
        transform: translateY(2%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes floating {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2%);
        transform: translateY(2%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@font-face {
    font-family: Fabrik;
    src: url(../fonts/fabrik-bold-webfont.eot);
    src: url(../fonts/fabrik-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fabrik-bold-webfont.woff2) format("woff2"), url(../fonts/fabrik-bold-webfont.woff) format("woff"),
        url(../fonts/fabrik-bold-webfont.ttf) format("truetype"), url(../fonts/fabrik-bold-webfont.svg#fabrikbold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Fabrik;
    src: url(../fonts/fabrik-regular-webfont.eot);
    src: url(../fonts/fabrik-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fabrik-regular-webfont.woff2) format("woff2"), url(../fonts/fabrik-regular-webfont.woff) format("woff"),
        url(../fonts/fabrik-regular-webfont.ttf) format("truetype"), url(../fonts/fabrik-regular-webfont.svg#fabrikregular) format("svg");
    font-weight: 400;
    font-style: normal;
}
.demoNav {
    font-weight: 400;
}
.demoNav,
.demoNav__demoIndex,
.nav__home {
    -moz-osx-font-smoothing: grayscale;
    font-family: Fabrik, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
}
.demoNav__demoIndex,
.nav__home {
    font-weight: 700;
}
.nav__home {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.05em;
}
.demoNav,
.nav__home {
    text-decoration: none;
}
.demoNav {
    font-size: 12px;
}
.nav {
    position: fixed;
    top: 20px;
    left: 15px;
    color: #fff;
    z-index: 1000;
    padding-left: 10px;
}
.nav__home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}
@media (min-width: 768px) {
    .nav__home {
        left: 20px;
    }
}
.logoMarpi {
    background-image: url(../images/ui/marpi-icon.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    width: 31px;
    height: 20px;
    display: block;
}
@media (-moz-min-device-pixel-ratio: 1.25),
    (-ms-min-device-pixel-ratio: 1.25),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min--moz-device-pixel-ratio: 1.25),
    (min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    .logoMarpi {
        background-image: url(../images/ui/marpi-icon_2x.png);
    }
}
.demoNav {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999999;
}
@media (min-width: 768px) {
    .demoNav {
        width: 370px;
        height: 0;
    }
}
.demoNav.is-hover .demoNav__extended {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.demoNav__logo {
    border-bottom: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 51px;
    cursor: pointer;
}
.demoNav__extended,
.demoNav__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    background-color: #000;
}
.demoNav__extended {
    position: relative;
    transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
@media (min-width: 768px) {
    .demoNav__extended {
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
    }
}
.demoNav__demoIndex {
    border-bottom: none;
    width: 100px;
    padding-left: 10px;
    line-height: 50px;
    color: hsla(0, 0%, 100%, 0.25);
}
.demoNav__demoIndexLink {
    border-bottom: none;
    color: hsla(0, 0%, 100%, 0.8);
    transition: color 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-decoration: none;
}
.demoNav__demoIndexLink:hover {
    color: #fff;
}
.demoNav__demoTitle {
    border-bottom: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    line-height: 50px;
    text-align: right;
    color: hsla(0, 0%, 100%, 0.9);
}
.demoNav__buttons {
    width: 100px;
}
.demoNav__button,
.demoNav__buttons {
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.demoNav__button {
    border-bottom: none;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid hsla(0, 0%, 100%, 0.25);
}
.demoNav__button:last-child {
    border-right-style: none;
}
.demoNav__button:hover .demoNav__buttonIcon {
    opacity: 1;
}
.demoNav__buttonIcon {
    display: block;
    width: 12px;
    height: 10px;
    background-image: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.8;
    transition: opacity 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.demoNav__buttonIcon.demoNav__buttonIcon--next {
    background-image: url(../images/ui/icon-next.svg);
}
.demoNav__buttonIcon.demoNav__buttonIcon--prev {
    background-image: url(../images/ui/icon-prev.svg);
}
.socialPageLinks {
    position: fixed;
    bottom: 0;
    left: 4px;
    z-index: 9999999;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 34px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}
.socialPageLinks,
.socialPageLinks__item {
    border-bottom: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.socialPageLinks__item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.socialPageLinks__item svg,
.socialPageLinks__item svg path {
    fill: #fff;
}
.socialPageLinks__item.socialPageLinks__item--inverseUI svg,
.socialPageLinks__item.socialPageLinks__item--inverseUI svg path {
    fill: #000;
}
