			*{
				box-sizing: border-box;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				font-weight: 300;
				margin :0;w
				padding: 0;
			}
			html {
				height: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				background-color: #ffffff;
				color: white;
				line-height: 20px;
				height: 100%;
				overflow: hidden;
				font-size: 14px;
				font-weight: 100;
			}
			#container {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
			#title{ position: absolute; left: 20px; top: 20px; right: 20px; line-height: 1.4em; text-shadow: 0 1px 0 rgba(0,0,0,.4);}
			#google-logo{ position: absolute;left: 0; top: 0; width: 90px; height: 30px; background-image: url(../assets/google-logo.svg); background-size: contain; background-repeat: no-repeat;}
			#io15-logo{ position: absolute;left: 0; top: 30px; width: 90px; height: 100px; background-image: url(../assets/io-logo.png); background-size: contain; background-repeat: no-repeat;}
			#instructions{ position: absolute; left: 0; right: 0; bottom: 0; padding: 20px; color: blue; text-align: center; }
			b{ font-weight: bold;}
			#credits{ position: absolute; text-align: right; right: 0; top: 0; left: 120px; color: blue; }
			#about.hidden{ opacity: 0; pointer-events: none }
			#about{ opacity: 1; pointer-events: auto; transition: opacity 150ms ease-out; color: blue; }
			#about-button{ padding: 10px 20px; border: 1px solid blue; border-radius: 10px; line-height: 60px; color: blue; }
			a{ color: #5bf5bf; opacity: 1; transition:opacity 150ms ease-out; text-decoration: none; }
			a:hover{ opacity: 1; }
			#instructions a{ padding: 10px 20px; border: 1px solid blue; border-radius: 10px; line-height: 45px; color: blue; }
			#instructions span{ white-space: nowrap; margin-right: .5em;}
			#start-button{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba( 0,0,0,.5); }
			#start-button h1{ position: absolute; left: 0; right: 0; top: 50%; margin-top: -60px; text-align: center; font-size: 24px; font-weight: 800;}
			#start-button div{ position: absolute; left: 0; right: 0; top: 50%; margin-top: -1em; text-align: center;}
			#start-button p{ line-height: 1.5em; margin-bottom: 1em; }
			.warning{ color: #5bf5bf;}
			#start-button.hidden{ display: none; pointer-events: none;}
